In [80]:
# 1. Import the necessary libraries if you are starting a new notebook. 
# Using the same data as the previous lab: we_fn_use_c_marketing_customer_value_analysis.csv

In [114]:
import pandas as pd
import numpy as np
import scipy.stats as st
from datetime import date

In [82]:
customer_df = pd.read_csv("files_for_lab/we_fn_use_c_marketing_customer_value_analysis.csv")

In [83]:
# 2. Find all of the categorical data. Save it in a categorical_df variable.

In [84]:
categorical_df = customer_df.select_dtypes([object])

In [85]:
display(categorical_df)

,Customer,State,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Location Code,Marital Status,Policy Type,Policy,Renew Offer Type,Sales Channel,Vehicle Class,Vehicle Size
0,BU79786,Washington,No,Basic,Bachelor,2/24/11,Employed,F,Suburban,Married,Corporate Auto,Corporate L3,Offer1,Agent,Two-Door Car,Medsize
1,QZ44356,Arizona,No,Extended,Bachelor,1/31/11,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer3,Agent,Four-Door Car,Medsize
2,AI49188,Nevada,No,Premium,Bachelor,2/19/11,Employed,F,Suburban,Married,Personal Auto,Personal L3,Offer1,Agent,Two-Door Car,Medsize
3,WW63253,California,No,Basic,Bachelor,1/20/11,Unemployed,M,Suburban,Married,Corporate Auto,Corporate L2,Offer1,Call Center,SUV,Medsize
4,HB64268,Washington,No,Basic,Bachelor,2/3/11,Employed,M,Rural,Single,Personal Auto,Personal L1,Offer1,Agent,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,No,Basic,Bachelor,2/10/11,Employed,M,Urban,Married,Personal Auto,Personal L1,Offer2,Web,Four-Door Car,Medsize
9130,PK87824,California,Yes,Extended,College,2/12/11,Employed,F,Suburban,Divorced,Corporate Auto,Corporate L3,Offer1,Branch,Four-Door Car,Medsize
9131,TD14365,California,No,Extended,Bachelor,2/6/11,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L2,Offer1,Branch,Four-Door Car,Medsize
9132,UP19263,California,No,Extended,College,2/3/11,Employed,M,Suburban,Married,Personal Auto,Personal L2,Offer3,Branch,Four-Door Car,Large
9133,Y167826,California,No,Extended,College,2/14/11,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L3,Offer4,Call Center,Two-Door Car,Medsize

In [86]:
# 3. Check for NaN values.

In [87]:
categorical_df.isna().sum()

Customer             0
State                0
Response             0
Coverage             0
Education            0
Effective To Date    0
EmploymentStatus     0
Gender               0
Location Code        0
Marital Status       0
Policy Type          0
Policy               0
Renew Offer Type     0
Sales Channel        0
Vehicle Class        0
Vehicle Size         0
dtype: int64

In [88]:
# 4. Check all unique values of columns.

In [109]:
def check_unique(df):
    for item in df.columns:
        print(item)
        display(df[item].unique())
        display(df[item].value_counts())

In [110]:
check_unique(categorical_df)

Customer

array(['BU79786', 'QZ44356', 'AI49188', ..., 'TD14365', 'UP19263',
       'Y167826'], dtype=object)

FB80807    1
TV75816    1
NR49426    1
YA83600    1
PR21713    1
          ..
DV85764    1
WN69789    1
PS28082    1
AQ34238    1
EG94409    1
Name: Customer, Length: 9134, dtype: int64

State

array(['Washington', 'Arizona', 'Nevada', 'California', 'Oregon'],
      dtype=object)

California    3150
Oregon        2601
Arizona       1703
Nevada         882
Washington     798
Name: State, dtype: int64

Response

array(['No', 'Yes'], dtype=object)

No     7826
Yes    1308
Name: Response, dtype: int64

Coverage

array(['Basic', 'Extended', 'Premium'], dtype=object)

Basic       5568
Extended    2742
Premium      824
Name: Coverage, dtype: int64

Education

array(['Bachelor', 'College', 'Master', 'High School or Below', 'Doctor'],
      dtype=object)

Bachelor                2748
College                 2681
High School or Below    2622
Master                   741
Doctor                   342
Name: Education, dtype: int64

Effective To Date

array(['2011-02-24T00:00:00.000000000', '2011-01-31T00:00:00.000000000',
       '2011-02-19T00:00:00.000000000', '2011-01-20T00:00:00.000000000',
       '2011-02-03T00:00:00.000000000', '2011-01-25T00:00:00.000000000',
       '2011-01-18T00:00:00.000000000', '2011-01-26T00:00:00.000000000',
       '2011-02-17T00:00:00.000000000', '2011-02-21T00:00:00.000000000',
       '2011-01-06T00:00:00.000000000', '2011-02-06T00:00:00.000000000',
       '2011-01-10T00:00:00.000000000', '2011-01-17T00:00:00.000000000',
       '2011-01-05T00:00:00.000000000', '2011-02-27T00:00:00.000000000',
       '2011-01-14T00:00:00.000000000', '2011-01-21T00:00:00.000000000',
       '2011-02-05T00:00:00.000000000', '2011-01-29T00:00:00.000000000',
       '2011-02-28T00:00:00.000000000', '2011-02-12T00:00:00.000000000',
       '2011-02-02T00:00:00.000000000', '2011-02-07T00:00:00.000000000',
       '2011-01-22T00:00:00.000000000', '2011-02-13T00:00:00.000000000',
       '2011-01-15T00:00:00.000000000', '2011-01-08T00:00:00.000000000',
       '2011-01-11T00:00:00.000000000', '2011-01-28T00:00:00.000000000',
       '2011-02-08T00:00:00.000000000', '2011-02-23T00:00:00.000000000',
       '2011-01-02T00:00:00.000000000', '2011-02-16T00:00:00.000000000',
       '2011-01-27T00:00:00.000000000', '2011-01-23T00:00:00.000000000',
       '2011-01-09T00:00:00.000000000', '2011-02-11T00:00:00.000000000',
       '2011-02-04T00:00:00.000000000', '2011-02-01T00:00:00.000000000',
       '2011-02-15T00:00:00.000000000', '2011-02-26T00:00:00.000000000',
       '2011-01-16T00:00:00.000000000', '2011-01-01T00:00:00.000000000',
       '2011-02-10T00:00:00.000000000', '2011-01-24T00:00:00.000000000',
       '2011-02-25T00:00:00.000000000', '2011-01-12T00:00:00.000000000',
       '2011-02-09T00:00:00.000000000', '2011-01-19T00:00:00.000000000',
       '2011-01-04T00:00:00.000000000', '2011-02-14T00:00:00.000000000',
       '2011-02-20T00:00:00.000000000', '2011-02-18T00:00:00.000000000',
       '2011-01-03T00:00:00.000000000', '2011-01-13T00:00:00.000000000',
       '2011-01-30T00:00:00.000000000', '2011-02-22T00:00:00.000000000',
       '2011-01-07T00:00:00.000000000'], dtype='datetime64[ns]')

2011-01-10    195
2011-01-27    194
2011-02-14    186
2011-01-26    181
2011-01-17    180
2011-01-19    179
2011-01-03    178
2011-01-31    178
2011-01-20    173
2011-01-28    169
2011-02-26    169
2011-02-19    168
2011-02-27    167
2011-01-05    167
2011-01-11    166
2011-02-04    164
2011-02-28    161
2011-02-10    161
2011-01-02    160
2011-01-21    160
2011-01-29    160
2011-02-22    158
2011-02-05    158
2011-02-03    158
2011-02-07    157
2011-02-12    156
2011-01-23    155
2011-01-18    154
2011-02-01    154
2011-01-15    153
2011-01-14    152
2011-01-07    151
2011-01-25    151
2011-02-11    151
2011-01-08    149
2011-02-02    149
2011-02-18    149
2011-02-25    149
2011-01-01    148
2011-02-21    148
2011-01-24    147
2011-01-09    146
2011-01-13    145
2011-01-30    145
2011-02-06    144
2011-01-06    143
2011-02-23    143
2011-01-16    142
2011-02-24    139
2011-02-16    139
2011-02-13    139
2011-02-09    137
2011-01-22    136
2011-02-17    136
2011-02-08    134
2011-02-20    132
2011-02-15    130
2011-01-12    126
2011-01-04    115
Name: Effective To Date, dtype: int64

EmploymentStatus

array(['Employed', 'Unemployed', 'Medical Leave', 'Disabled', 'Retired'],
      dtype=object)

Employed         5698
Unemployed       2317
Medical Leave     432
Disabled          405
Retired           282
Name: EmploymentStatus, dtype: int64

Gender

array(['F', 'M'], dtype=object)

F    4658
M    4476
Name: Gender, dtype: int64

Location Code

array(['Suburban', 'Rural', 'Urban'], dtype=object)

Suburban    5779
Rural       1773
Urban       1582
Name: Location Code, dtype: int64

Marital Status

array(['Married', 'Single', 'Divorced'], dtype=object)

Married     5298
Single      2467
Divorced    1369
Name: Marital Status, dtype: int64

Policy Type

array(['Corporate Auto', 'Personal Auto', 'Special Auto'], dtype=object)

Personal Auto     6788
Corporate Auto    1968
Special Auto       378
Name: Policy Type, dtype: int64

Policy

array(['Corporate L3', 'Personal L3', 'Corporate L2', 'Personal L1',
       'Special L2', 'Corporate L1', 'Personal L2', 'Special L1',
       'Special L3'], dtype=object)

Personal L3     3426
Personal L2     2122
Personal L1     1240
Corporate L3    1014
Corporate L2     595
Corporate L1     359
Special L2       164
Special L3       148
Special L1        66
Name: Policy, dtype: int64

Renew Offer Type

array(['Offer1', 'Offer3', 'Offer2', 'Offer4'], dtype=object)

Offer1    3752
Offer2    2926
Offer3    1432
Offer4    1024
Name: Renew Offer Type, dtype: int64

Sales Channel

array(['Agent', 'Call Center', 'Web', 'Branch'], dtype=object)

Agent          3477
Branch         2567
Call Center    1765
Web            1325
Name: Sales Channel, dtype: int64

Vehicle Class

array(['Two-Door Car', 'Four-Door Car', 'SUV', 'Luxury SUV', 'Sports Car',
       'Luxury Car'], dtype=object)

Four-Door Car    4621
Two-Door Car     1886
SUV              1796
Sports Car        484
Luxury SUV        184
Luxury Car        163
Name: Vehicle Class, dtype: int64

Vehicle Size

array(['Medsize', 'Small', 'Large'], dtype=object)

Medsize    6424
Small      1764
Large       946
Name: Vehicle Size, dtype: int64

Customer_alpha

array(['BU', 'QZ', 'AI', 'WW', 'HB', 'OC', 'XZ', 'CF', 'DY', 'BQ', 'SX',
       'VQ', 'DP', 'SJ', 'IL', 'BW', 'FV', 'OE', 'WC', 'FL', 'ZK', 'SV',
       'YH', 'TZ', 'HM', 'FS', 'US', 'HO', 'GE', 'EJ', 'UL', 'PF', 'AO',
       'SK', 'YV', 'KY', 'DM', 'CM', 'QG', 'MB', 'SR', 'DH', 'HG', 'XM',
       'KP', 'SH', 'WE', 'PY', 'RB', 'XR', 'FR', 'SY', 'AP', 'ML', 'UB',
       'CD', 'RU', 'FG', 'NN', 'WB', 'SM', 'GW', 'RZ', 'MO', 'HW', 'BN',
       'YX', 'DZ', 'XW', 'LN', 'OM', 'ZU', 'VH', 'DT', 'YJ', 'SQ', 'HF',
       'ET', 'QC', 'CJ', 'OI', 'JY', 'CZ', 'WK', 'ON', 'TV', 'KH', 'NZ',
       'RI', 'FZ', 'UG', 'AB', 'XK', 'EV', 'UN', 'TO', 'MR', 'DE', 'EP',
       'GU', 'WI', 'YQ', 'MQ', 'KN', 'CR', 'JI', 'VF', 'OX', 'OO', 'YT',
       'CW', 'EM', 'FH', 'XA', 'GO', 'QH', 'UH', 'QA', 'TQ', 'MS', 'PU',
       'AZ', 'DS', 'OJ', 'LP', 'LM', 'XC', 'YC', 'EK', 'GD', 'WA', 'PD',
       'BS', 'YM', 'NR', 'RC', 'CC', 'KA', 'OS', 'ND', 'YL', 'JP', 'HL',
       'IC', 'BE', 'HT', 'TH', 'TS', 'QR', 'DX', 'IS', 'IX', 'HH', 'IU',
       'KC', 'NK', 'OZ', 'UF', 'XP', 'GK', 'RV', 'II', 'TR', 'EO', 'EN',
       'ZW', 'EH', 'MW', 'SL', 'UO', 'ZX', 'XX', 'SD', 'OY', 'BG', 'IP',
       'LE', 'KX', 'EZ', 'XN', 'IT', 'CO', 'LK', 'YS', 'UK', 'TE', 'RA',
       'KQ', 'WU', 'XV', 'KO', 'HI', 'PT', 'BH', 'TX', 'CT', 'LF', 'CN',
       'UW', 'HP', 'PP', 'RO', 'FO', 'HR', 'IA', 'PK', 'OD', 'GY', 'JM',
       'QX', 'JU', 'UC', 'LW', 'OU', 'HS', 'VZ', 'UI', 'AE', 'XS', 'AY',
       'NA', 'UA', 'DJ', 'VM', 'OH', 'NC', 'LQ', 'LA', 'NB', 'NT', 'AF',
       'ZG', 'JQ', 'FE', 'JT', 'MC', 'EU', 'RH', 'WV', 'RK', 'MF', 'FM',
       'RF', 'IM', 'VI', 'YR', 'RR', 'VC', 'TM', 'GJ', 'FY', 'FW', 'HD',
       'AH', 'XI', 'DI', 'SC', 'DQ', 'JE', 'WS', 'ZA', 'EW', 'QW', 'KU',
       'MJ', 'TW', 'VE', 'PX', 'NI', 'GN', 'QL', 'UV', 'CE', 'JL', 'JZ',
       'QD', 'ES', 'JK', 'RN', 'BI', 'JA', 'JJ', 'BL', 'CP', 'NV', 'RM',
       'GL', 'LL', 'BC', 'JF', 'BK', 'MK', 'IW', 'QP', 'ZM', 'QQ', 'HU',
       'XH', 'ZH', 'AG', 'KB', 'GF', 'VV', 'OA', 'ZF', 'SF', 'OT', 'SW',
       'JS', 'RE', 'LC', 'UX', 'RX', 'DW', 'EG', 'DB', 'JB', 'QN', 'ZY',
       'IN', 'DF', 'MN', 'NL', 'UM', 'QY', 'NM', 'MZ', 'ID', 'EY', 'TT',
       'IO', 'RQ', 'AU', 'ZN', 'EI', 'GV', 'QK', 'LU', 'NS', 'KL', 'LZ',
       'YE', 'XD', 'PH', 'WQ', 'TC', 'CX', 'CK', 'JC', 'UQ', 'RP', 'ZR',
       'NQ', 'PB', 'CV', 'EX', 'GM', 'BX', 'SG', 'FJ', 'CU', 'ZZ', 'BV',
       'HX', 'RD', 'BT', 'VP', 'VU', 'TA', 'OQ', 'AW', 'MY', 'IB', 'KF',
       'HK', 'PN', 'VW', 'WT', 'WO', 'PR', 'RJ', 'KI', 'FF', 'TN', 'PM',
       'QV', 'QE', 'CQ', 'TL', 'FN', 'TU', 'IJ', 'OB', 'YI', 'NW', 'ME',
       'SI', 'YD', 'CA', 'QT', 'UY', 'GT', 'NX', 'DA', 'GH', 'BD', 'JH',
       'ZJ', 'PI', 'EL', 'DG', 'WP', 'TK', 'DN', 'SS', 'NG', 'ED', 'GP',
       'ZC', 'HN', 'EB', 'SU', 'DL', 'OL', 'HQ', 'WR', 'GB', 'GI', 'VO',
       'CY', 'TJ', 'ZQ', 'OV', 'WL', 'MP', 'DR', 'KM', 'OF', 'YB', 'BA',
       'BB', 'MM', 'KR', 'VS', 'AM', 'QB', 'EA', 'PW', 'SN', 'PA', 'RT',
       'BZ', 'WM', 'NH', 'BM', 'VY', 'WY', 'YG', 'FK', 'NE', 'ZO', 'CH',
       'NY', 'UT', 'LB', 'KW', 'XO', 'FI', 'QM', 'VN', 'TF', 'CB', 'XG',
       'UJ', 'TY', 'GR', 'DK', 'OR', 'FA', 'ST', 'AL', 'ZE', 'UU', 'XJ',
       'FT', 'KJ', 'XT', 'SP', 'GC', 'IR', 'XF', 'QJ', 'QO', 'JX', 'SB',
       'ZT', 'ZS', 'WZ', 'AA', 'TD', 'LY', 'VX', 'TP', 'VB', 'AQ', 'JO',
       'RS', 'VT', 'WH', 'MT', 'TI', 'VA', 'PV', 'ZV', 'FB', 'AS', 'SA',
       'VL', 'UP', 'HV', 'MG', 'JN', 'VK', 'EC', 'PO', 'NF', 'SZ', 'NJ',
       'RG', 'BJ', 'MD', 'RY', 'IK', 'GQ', 'VJ', 'GS', 'OK', 'GG', 'KD',
       'PS', 'MU', 'YO', 'WF', 'NU', 'SE', 'FU', 'VG', 'BR', 'PZ', 'LV',
       'LH', 'CS', 'FX', 'HA', 'HJ', 'YN', 'ZB', 'DO', 'EF', 'NP', 'KT',
       'LG', 'QF', 'MH', 'LT', 'QI', 'WJ', 'IG', 'AC', 'BF', 'IE', 'ZD',
       'LD', 'JW', 'VD', 'IF', 'FD', 'JD', 'HZ', 'DU', 'XQ', 'WG', 'LO',
       'JG', 'YF', 'LS', 'KK', 'ZI', 'MX', 'IQ', 'MA', 'XY', 'KG', 'XB',
       'XE', 'UD', 'YP', 'PC', 'YY', 'PQ', 'JR', 'ZP', 'YA', 'PG', 'RW',
       'AN', 'OP', 'EE', 'EQ', 'LX', 'LI', 'HC', 'BY', 'BP', 'QS', 'YU',
       'IV', 'GX', 'WN', 'GZ', 'AT', 'IH', 'MI', 'DD', 'AV', 'FQ', 'KZ',
       'ER', 'AJ', 'AR', 'QU', 'MV', 'RL', 'IY', 'TG', 'OG', 'LR', 'UR',
       'CI', 'FP', 'KV', 'No', 'YZ', 'PE', 'IZ', 'TB', 'ZL', 'AX', 'HE',
       'WX', 'JV', 'WD', 'PL', 'OW', 'FC', 'CL', 'HY', 'SO', 'DV', 'UE',
       'YW', 'YK', 'XU', 'KE', 'GA', 'XL', 'BO', 'PJ', 'KS', 'CG', 'LJ',
       'AK', 'DC', 'VR', 'AD', 'UZ', 'Y1'], dtype=object)

FG    28
UF    27
FP    25
UI    24
RA    24
      ..
VR     5
YS     5
IT     4
RG     2
Y1     1
Name: Customer_alpha, Length: 677, dtype: int64

Customer_num

array([79786, 44356, 49188, ..., 14365, 19263, 67826], dtype=int64)

63956    4
51200    3
12347    3
68427    3
55977    3
        ..
55910    1
53863    1
25193    1
62059    1
32768    1
Name: Customer_num, Length: 8688, dtype: int64

In [91]:
categorical_df.dtypes

Customer             object
State                object
Response             object
Coverage             object
Education            object
Effective To Date    object
EmploymentStatus     object
Gender               object
Location Code        object
Marital Status       object
Policy Type          object
Policy               object
Renew Offer Type     object
Sales Channel        object
Vehicle Class        object
Vehicle Size         object
dtype: object

In [92]:
# 5. Check dtypes. Do they all make sense as categorical data?

In [93]:
categorical_df["Effective To Date"] = pd.to_datetime(categorical_df["Effective To Date"])

<ipython-input-93-3e957c3f1f70>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  categorical_df["Effective To Date"] = pd.to_datetime(categorical_df["Effective To Date"])

In [94]:
# 6. Does any column contain alpha and numeric data? Decide how to clean it.

In [95]:
categorical_df["Customer_alpha"] = "test"
categorical_df["Customer_num"] = "test"

<ipython-input-95-6554b9e90c99>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  categorical_df["Customer_alpha"] = "test"
<ipython-input-95-6554b9e90c99>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  categorical_df["Customer_num"] = "test"

In [104]:
def sep_alpha_num(x,y,z):
    y = x[0:2]
    z = int(x[2:len(x)])
    return y, z

In [105]:
categorical_df[["Customer_alpha", "Customer_num"]] = list(map(sep_alpha_num, categorical_df["Customer"], categorical_df["Customer_alpha"], categorical_df["Customer_num"]))

<ipython-input-105-b0b67fefeb9d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  categorical_df[["Customer_alpha", "Customer_num"]] = list(map(sep_alpha_num, categorical_df["Customer"], categorical_df["Customer_alpha"], categorical_df["Customer_num"]))
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [ ]:
# cleaned it, but makes no sense in my opinion as we do not need the column "Customer"

In [106]:
display(categorical_df)

,Customer,State,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Location Code,Marital Status,Policy Type,Policy,Renew Offer Type,Sales Channel,Vehicle Class,Vehicle Size,Customer_alpha,Customer_num
0,BU79786,Washington,No,Basic,Bachelor,2011-02-24,Employed,F,Suburban,Married,Corporate Auto,Corporate L3,Offer1,Agent,Two-Door Car,Medsize,BU,79786
1,QZ44356,Arizona,No,Extended,Bachelor,2011-01-31,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer3,Agent,Four-Door Car,Medsize,QZ,44356
2,AI49188,Nevada,No,Premium,Bachelor,2011-02-19,Employed,F,Suburban,Married,Personal Auto,Personal L3,Offer1,Agent,Two-Door Car,Medsize,AI,49188
3,WW63253,California,No,Basic,Bachelor,2011-01-20,Unemployed,M,Suburban,Married,Corporate Auto,Corporate L2,Offer1,Call Center,SUV,Medsize,WW,63253
4,HB64268,Washington,No,Basic,Bachelor,2011-02-03,Employed,M,Rural,Single,Personal Auto,Personal L1,Offer1,Agent,Four-Door Car,Medsize,HB,64268
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,No,Basic,Bachelor,2011-02-10,Employed,M,Urban,Married,Personal Auto,Personal L1,Offer2,Web,Four-Door Car,Medsize,LA,72316
9130,PK87824,California,Yes,Extended,College,2011-02-12,Employed,F,Suburban,Divorced,Corporate Auto,Corporate L3,Offer1,Branch,Four-Door Car,Medsize,PK,87824
9131,TD14365,California,No,Extended,Bachelor,2011-02-06,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L2,Offer1,Branch,Four-Door Car,Medsize,TD,14365
9132,UP19263,California,No,Extended,College,2011-02-03,Employed,M,Suburban,Married,Personal Auto,Personal L2,Offer3,Branch,Four-Door Car,Large,UP,19263
9133,Y167826,California,No,Extended,College,2011-02-14,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L3,Offer4,Call Center,Two-Door Car,Medsize,Y1,67826

In [107]:
display(categorical_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9134 entries, 0 to 9133
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Customer           9134 non-null   object
 1   State              9134 non-null   object
 2   Response           9134 non-null   object
 3   Coverage           9134 non-null   object
 4   Education          9134 non-null   object
 5   Effective To Date  9134 non-null   datetime64[ns]
 6   EmploymentStatus   9134 non-null   object
 7   Gender             9134 non-null   object
 8   Location Code      9134 non-null   object
 9   Marital Status     9134 non-null   object
 10  Policy Type        9134 non-null   object
 11  Policy             9134 non-null   object
 12  Renew Offer Type   9134 non-null   object
 13  Sales Channel      9134 non-null   object
 14  Vehicle Class      9134 non-null   object
 15  Vehicle Size       9134 non-null   object
 16  Customer_alpha     9134 non-null   object
 17  Customer_num       9134 non-null   int64
dtypes: datetime64[ns](1), int64(1), object(16)
memory usage: 1.3+ MB

None

In [111]:
# 7.Would you choose to do anything else to clean or wrangle the categorical data? Comment your decisions.

In [112]:
check_unique(categorical_df)

Customer

array(['BU79786', 'QZ44356', 'AI49188', ..., 'TD14365', 'UP19263',
       'Y167826'], dtype=object)

FB80807    1
TV75816    1
NR49426    1
YA83600    1
PR21713    1
          ..
DV85764    1
WN69789    1
PS28082    1
AQ34238    1
EG94409    1
Name: Customer, Length: 9134, dtype: int64

State

array(['Washington', 'Arizona', 'Nevada', 'California', 'Oregon'],
      dtype=object)

California    3150
Oregon        2601
Arizona       1703
Nevada         882
Washington     798
Name: State, dtype: int64

Response

array(['No', 'Yes'], dtype=object)

No     7826
Yes    1308
Name: Response, dtype: int64

Coverage

array(['Basic', 'Extended', 'Premium'], dtype=object)

Basic       5568
Extended    2742
Premium      824
Name: Coverage, dtype: int64

Education

array(['Bachelor', 'College', 'Master', 'High School or Below', 'Doctor'],
      dtype=object)

Bachelor                2748
College                 2681
High School or Below    2622
Master                   741
Doctor                   342
Name: Education, dtype: int64

Effective To Date

array(['2011-02-24T00:00:00.000000000', '2011-01-31T00:00:00.000000000',
       '2011-02-19T00:00:00.000000000', '2011-01-20T00:00:00.000000000',
       '2011-02-03T00:00:00.000000000', '2011-01-25T00:00:00.000000000',
       '2011-01-18T00:00:00.000000000', '2011-01-26T00:00:00.000000000',
       '2011-02-17T00:00:00.000000000', '2011-02-21T00:00:00.000000000',
       '2011-01-06T00:00:00.000000000', '2011-02-06T00:00:00.000000000',
       '2011-01-10T00:00:00.000000000', '2011-01-17T00:00:00.000000000',
       '2011-01-05T00:00:00.000000000', '2011-02-27T00:00:00.000000000',
       '2011-01-14T00:00:00.000000000', '2011-01-21T00:00:00.000000000',
       '2011-02-05T00:00:00.000000000', '2011-01-29T00:00:00.000000000',
       '2011-02-28T00:00:00.000000000', '2011-02-12T00:00:00.000000000',
       '2011-02-02T00:00:00.000000000', '2011-02-07T00:00:00.000000000',
       '2011-01-22T00:00:00.000000000', '2011-02-13T00:00:00.000000000',
       '2011-01-15T00:00:00.000000000', '2011-01-08T00:00:00.000000000',
       '2011-01-11T00:00:00.000000000', '2011-01-28T00:00:00.000000000',
       '2011-02-08T00:00:00.000000000', '2011-02-23T00:00:00.000000000',
       '2011-01-02T00:00:00.000000000', '2011-02-16T00:00:00.000000000',
       '2011-01-27T00:00:00.000000000', '2011-01-23T00:00:00.000000000',
       '2011-01-09T00:00:00.000000000', '2011-02-11T00:00:00.000000000',
       '2011-02-04T00:00:00.000000000', '2011-02-01T00:00:00.000000000',
       '2011-02-15T00:00:00.000000000', '2011-02-26T00:00:00.000000000',
       '2011-01-16T00:00:00.000000000', '2011-01-01T00:00:00.000000000',
       '2011-02-10T00:00:00.000000000', '2011-01-24T00:00:00.000000000',
       '2011-02-25T00:00:00.000000000', '2011-01-12T00:00:00.000000000',
       '2011-02-09T00:00:00.000000000', '2011-01-19T00:00:00.000000000',
       '2011-01-04T00:00:00.000000000', '2011-02-14T00:00:00.000000000',
       '2011-02-20T00:00:00.000000000', '2011-02-18T00:00:00.000000000',
       '2011-01-03T00:00:00.000000000', '2011-01-13T00:00:00.000000000',
       '2011-01-30T00:00:00.000000000', '2011-02-22T00:00:00.000000000',
       '2011-01-07T00:00:00.000000000'], dtype='datetime64[ns]')

2011-01-10    195
2011-01-27    194
2011-02-14    186
2011-01-26    181
2011-01-17    180
2011-01-19    179
2011-01-03    178
2011-01-31    178
2011-01-20    173
2011-01-28    169
2011-02-26    169
2011-02-19    168
2011-02-27    167
2011-01-05    167
2011-01-11    166
2011-02-04    164
2011-02-28    161
2011-02-10    161
2011-01-02    160
2011-01-21    160
2011-01-29    160
2011-02-22    158
2011-02-05    158
2011-02-03    158
2011-02-07    157
2011-02-12    156
2011-01-23    155
2011-01-18    154
2011-02-01    154
2011-01-15    153
2011-01-14    152
2011-01-07    151
2011-01-25    151
2011-02-11    151
2011-01-08    149
2011-02-02    149
2011-02-18    149
2011-02-25    149
2011-01-01    148
2011-02-21    148
2011-01-24    147
2011-01-09    146
2011-01-13    145
2011-01-30    145
2011-02-06    144
2011-01-06    143
2011-02-23    143
2011-01-16    142
2011-02-24    139
2011-02-16    139
2011-02-13    139
2011-02-09    137
2011-01-22    136
2011-02-17    136
2011-02-08    134
2011-02-20    132
2011-02-15    130
2011-01-12    126
2011-01-04    115
Name: Effective To Date, dtype: int64

EmploymentStatus

array(['Employed', 'Unemployed', 'Medical Leave', 'Disabled', 'Retired'],
      dtype=object)

Employed         5698
Unemployed       2317
Medical Leave     432
Disabled          405
Retired           282
Name: EmploymentStatus, dtype: int64

Gender

array(['F', 'M'], dtype=object)

F    4658
M    4476
Name: Gender, dtype: int64

Location Code

array(['Suburban', 'Rural', 'Urban'], dtype=object)

Suburban    5779
Rural       1773
Urban       1582
Name: Location Code, dtype: int64

Marital Status

array(['Married', 'Single', 'Divorced'], dtype=object)

Married     5298
Single      2467
Divorced    1369
Name: Marital Status, dtype: int64

Policy Type

array(['Corporate Auto', 'Personal Auto', 'Special Auto'], dtype=object)

Personal Auto     6788
Corporate Auto    1968
Special Auto       378
Name: Policy Type, dtype: int64

Policy

array(['Corporate L3', 'Personal L3', 'Corporate L2', 'Personal L1',
       'Special L2', 'Corporate L1', 'Personal L2', 'Special L1',
       'Special L3'], dtype=object)

Personal L3     3426
Personal L2     2122
Personal L1     1240
Corporate L3    1014
Corporate L2     595
Corporate L1     359
Special L2       164
Special L3       148
Special L1        66
Name: Policy, dtype: int64

Renew Offer Type

array(['Offer1', 'Offer3', 'Offer2', 'Offer4'], dtype=object)

Offer1    3752
Offer2    2926
Offer3    1432
Offer4    1024
Name: Renew Offer Type, dtype: int64

Sales Channel

array(['Agent', 'Call Center', 'Web', 'Branch'], dtype=object)

Agent          3477
Branch         2567
Call Center    1765
Web            1325
Name: Sales Channel, dtype: int64

Vehicle Class

array(['Two-Door Car', 'Four-Door Car', 'SUV', 'Luxury SUV', 'Sports Car',
       'Luxury Car'], dtype=object)

Four-Door Car    4621
Two-Door Car     1886
SUV              1796
Sports Car        484
Luxury SUV        184
Luxury Car        163
Name: Vehicle Class, dtype: int64

Vehicle Size

array(['Medsize', 'Small', 'Large'], dtype=object)

Medsize    6424
Small      1764
Large       946
Name: Vehicle Size, dtype: int64

Customer_alpha

array(['BU', 'QZ', 'AI', 'WW', 'HB', 'OC', 'XZ', 'CF', 'DY', 'BQ', 'SX',
       'VQ', 'DP', 'SJ', 'IL', 'BW', 'FV', 'OE', 'WC', 'FL', 'ZK', 'SV',
       'YH', 'TZ', 'HM', 'FS', 'US', 'HO', 'GE', 'EJ', 'UL', 'PF', 'AO',
       'SK', 'YV', 'KY', 'DM', 'CM', 'QG', 'MB', 'SR', 'DH', 'HG', 'XM',
       'KP', 'SH', 'WE', 'PY', 'RB', 'XR', 'FR', 'SY', 'AP', 'ML', 'UB',
       'CD', 'RU', 'FG', 'NN', 'WB', 'SM', 'GW', 'RZ', 'MO', 'HW', 'BN',
       'YX', 'DZ', 'XW', 'LN', 'OM', 'ZU', 'VH', 'DT', 'YJ', 'SQ', 'HF',
       'ET', 'QC', 'CJ', 'OI', 'JY', 'CZ', 'WK', 'ON', 'TV', 'KH', 'NZ',
       'RI', 'FZ', 'UG', 'AB', 'XK', 'EV', 'UN', 'TO', 'MR', 'DE', 'EP',
       'GU', 'WI', 'YQ', 'MQ', 'KN', 'CR', 'JI', 'VF', 'OX', 'OO', 'YT',
       'CW', 'EM', 'FH', 'XA', 'GO', 'QH', 'UH', 'QA', 'TQ', 'MS', 'PU',
       'AZ', 'DS', 'OJ', 'LP', 'LM', 'XC', 'YC', 'EK', 'GD', 'WA', 'PD',
       'BS', 'YM', 'NR', 'RC', 'CC', 'KA', 'OS', 'ND', 'YL', 'JP', 'HL',
       'IC', 'BE', 'HT', 'TH', 'TS', 'QR', 'DX', 'IS', 'IX', 'HH', 'IU',
       'KC', 'NK', 'OZ', 'UF', 'XP', 'GK', 'RV', 'II', 'TR', 'EO', 'EN',
       'ZW', 'EH', 'MW', 'SL', 'UO', 'ZX', 'XX', 'SD', 'OY', 'BG', 'IP',
       'LE', 'KX', 'EZ', 'XN', 'IT', 'CO', 'LK', 'YS', 'UK', 'TE', 'RA',
       'KQ', 'WU', 'XV', 'KO', 'HI', 'PT', 'BH', 'TX', 'CT', 'LF', 'CN',
       'UW', 'HP', 'PP', 'RO', 'FO', 'HR', 'IA', 'PK', 'OD', 'GY', 'JM',
       'QX', 'JU', 'UC', 'LW', 'OU', 'HS', 'VZ', 'UI', 'AE', 'XS', 'AY',
       'NA', 'UA', 'DJ', 'VM', 'OH', 'NC', 'LQ', 'LA', 'NB', 'NT', 'AF',
       'ZG', 'JQ', 'FE', 'JT', 'MC', 'EU', 'RH', 'WV', 'RK', 'MF', 'FM',
       'RF', 'IM', 'VI', 'YR', 'RR', 'VC', 'TM', 'GJ', 'FY', 'FW', 'HD',
       'AH', 'XI', 'DI', 'SC', 'DQ', 'JE', 'WS', 'ZA', 'EW', 'QW', 'KU',
       'MJ', 'TW', 'VE', 'PX', 'NI', 'GN', 'QL', 'UV', 'CE', 'JL', 'JZ',
       'QD', 'ES', 'JK', 'RN', 'BI', 'JA', 'JJ', 'BL', 'CP', 'NV', 'RM',
       'GL', 'LL', 'BC', 'JF', 'BK', 'MK', 'IW', 'QP', 'ZM', 'QQ', 'HU',
       'XH', 'ZH', 'AG', 'KB', 'GF', 'VV', 'OA', 'ZF', 'SF', 'OT', 'SW',
       'JS', 'RE', 'LC', 'UX', 'RX', 'DW', 'EG', 'DB', 'JB', 'QN', 'ZY',
       'IN', 'DF', 'MN', 'NL', 'UM', 'QY', 'NM', 'MZ', 'ID', 'EY', 'TT',
       'IO', 'RQ', 'AU', 'ZN', 'EI', 'GV', 'QK', 'LU', 'NS', 'KL', 'LZ',
       'YE', 'XD', 'PH', 'WQ', 'TC', 'CX', 'CK', 'JC', 'UQ', 'RP', 'ZR',
       'NQ', 'PB', 'CV', 'EX', 'GM', 'BX', 'SG', 'FJ', 'CU', 'ZZ', 'BV',
       'HX', 'RD', 'BT', 'VP', 'VU', 'TA', 'OQ', 'AW', 'MY', 'IB', 'KF',
       'HK', 'PN', 'VW', 'WT', 'WO', 'PR', 'RJ', 'KI', 'FF', 'TN', 'PM',
       'QV', 'QE', 'CQ', 'TL', 'FN', 'TU', 'IJ', 'OB', 'YI', 'NW', 'ME',
       'SI', 'YD', 'CA', 'QT', 'UY', 'GT', 'NX', 'DA', 'GH', 'BD', 'JH',
       'ZJ', 'PI', 'EL', 'DG', 'WP', 'TK', 'DN', 'SS', 'NG', 'ED', 'GP',
       'ZC', 'HN', 'EB', 'SU', 'DL', 'OL', 'HQ', 'WR', 'GB', 'GI', 'VO',
       'CY', 'TJ', 'ZQ', 'OV', 'WL', 'MP', 'DR', 'KM', 'OF', 'YB', 'BA',
       'BB', 'MM', 'KR', 'VS', 'AM', 'QB', 'EA', 'PW', 'SN', 'PA', 'RT',
       'BZ', 'WM', 'NH', 'BM', 'VY', 'WY', 'YG', 'FK', 'NE', 'ZO', 'CH',
       'NY', 'UT', 'LB', 'KW', 'XO', 'FI', 'QM', 'VN', 'TF', 'CB', 'XG',
       'UJ', 'TY', 'GR', 'DK', 'OR', 'FA', 'ST', 'AL', 'ZE', 'UU', 'XJ',
       'FT', 'KJ', 'XT', 'SP', 'GC', 'IR', 'XF', 'QJ', 'QO', 'JX', 'SB',
       'ZT', 'ZS', 'WZ', 'AA', 'TD', 'LY', 'VX', 'TP', 'VB', 'AQ', 'JO',
       'RS', 'VT', 'WH', 'MT', 'TI', 'VA', 'PV', 'ZV', 'FB', 'AS', 'SA',
       'VL', 'UP', 'HV', 'MG', 'JN', 'VK', 'EC', 'PO', 'NF', 'SZ', 'NJ',
       'RG', 'BJ', 'MD', 'RY', 'IK', 'GQ', 'VJ', 'GS', 'OK', 'GG', 'KD',
       'PS', 'MU', 'YO', 'WF', 'NU', 'SE', 'FU', 'VG', 'BR', 'PZ', 'LV',
       'LH', 'CS', 'FX', 'HA', 'HJ', 'YN', 'ZB', 'DO', 'EF', 'NP', 'KT',
       'LG', 'QF', 'MH', 'LT', 'QI', 'WJ', 'IG', 'AC', 'BF', 'IE', 'ZD',
       'LD', 'JW', 'VD', 'IF', 'FD', 'JD', 'HZ', 'DU', 'XQ', 'WG', 'LO',
       'JG', 'YF', 'LS', 'KK', 'ZI', 'MX', 'IQ', 'MA', 'XY', 'KG', 'XB',
       'XE', 'UD', 'YP', 'PC', 'YY', 'PQ', 'JR', 'ZP', 'YA', 'PG', 'RW',
       'AN', 'OP', 'EE', 'EQ', 'LX', 'LI', 'HC', 'BY', 'BP', 'QS', 'YU',
       'IV', 'GX', 'WN', 'GZ', 'AT', 'IH', 'MI', 'DD', 'AV', 'FQ', 'KZ',
       'ER', 'AJ', 'AR', 'QU', 'MV', 'RL', 'IY', 'TG', 'OG', 'LR', 'UR',
       'CI', 'FP', 'KV', 'No', 'YZ', 'PE', 'IZ', 'TB', 'ZL', 'AX', 'HE',
       'WX', 'JV', 'WD', 'PL', 'OW', 'FC', 'CL', 'HY', 'SO', 'DV', 'UE',
       'YW', 'YK', 'XU', 'KE', 'GA', 'XL', 'BO', 'PJ', 'KS', 'CG', 'LJ',
       'AK', 'DC', 'VR', 'AD', 'UZ', 'Y1'], dtype=object)

FG    28
UF    27
FP    25
UI    24
RA    24
      ..
VR     5
YS     5
IT     4
RG     2
Y1     1
Name: Customer_alpha, Length: 677, dtype: int64

Customer_num

array([79786, 44356, 49188, ..., 14365, 19263, 67826], dtype=int64)

63956    4
51200    3
12347    3
68427    3
55977    3
        ..
55910    1
53863    1
25193    1
62059    1
32768    1
Name: Customer_num, Length: 8688, dtype: int64

In [113]:
# I would drop the "Customer" columns as it just contains random "ID" of Customer. From "Effective To Date" I would extract amount of month.
# "Policy Type" can be dropped as it correlates with "Policy". "Policy" could maybe be clustered in Personal, Corporate and Special - but not sure if the L1- L3 have a cartain meaning.
# The rest I would keep as it is!

In [151]:
def months (x):
    months = (date.today().year - x.year) * 12 + date.today().month - x.month
    return months

In [149]:
categorical_df = categorical_df.drop(columns=["Customer", "Customer_num", "Customer_alpha"])

In [153]:
categorical_df["Effective To Date"] =  categorical_df["Effective To Date"].apply(months)

In [154]:
display(categorical_df)

,State,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Location Code,Marital Status,Policy Type,Policy,Renew Offer Type,Sales Channel,Vehicle Class,Vehicle Size
0,Washington,No,Basic,Bachelor,133,Employed,F,Suburban,Married,Corporate Auto,Corporate L3,Offer1,Agent,Two-Door Car,Medsize
1,Arizona,No,Extended,Bachelor,134,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer3,Agent,Four-Door Car,Medsize
2,Nevada,No,Premium,Bachelor,133,Employed,F,Suburban,Married,Personal Auto,Personal L3,Offer1,Agent,Two-Door Car,Medsize
3,California,No,Basic,Bachelor,134,Unemployed,M,Suburban,Married,Corporate Auto,Corporate L2,Offer1,Call Center,SUV,Medsize
4,Washington,No,Basic,Bachelor,133,Employed,M,Rural,Single,Personal Auto,Personal L1,Offer1,Agent,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,California,No,Basic,Bachelor,133,Employed,M,Urban,Married,Personal Auto,Personal L1,Offer2,Web,Four-Door Car,Medsize
9130,California,Yes,Extended,College,133,Employed,F,Suburban,Divorced,Corporate Auto,Corporate L3,Offer1,Branch,Four-Door Car,Medsize
9131,California,No,Extended,Bachelor,133,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L2,Offer1,Branch,Four-Door Car,Medsize
9132,California,No,Extended,College,133,Employed,M,Suburban,Married,Personal Auto,Personal L2,Offer3,Branch,Four-Door Car,Large
9133,California,No,Extended,College,133,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L3,Offer4,Call Center,Two-Door Car,Medsize

In [155]:
# 8. Compare policy_type and policy. What information is contained in these columns. Can you identify what is important?

In [159]:
data_crosstab = pd.crosstab(categorical_df['Policy Type'], categorical_df['Policy'], margins = False)
data_crosstab

Policy,Corporate L1,Corporate L2,Corporate L3,Personal L1,Personal L2,Personal L3,Special L1,Special L2,Special L3
Policy Type,,,,,,,,,
Corporate Auto,359,595,1014,0,0,0,0,0,0
Personal Auto,0,0,0,1240,2122,3426,0,0,0
Special Auto,0,0,0,0,0,0,66,164,148

In [161]:
st.chi2_contingency(data_crosstab.values)

(18268.0,
 0.0,
 16,
 array([[  77.3496825 ,  128.19794176,  218.4751478 ,  267.16881979,
          457.20341581,  738.16159404,   14.22027589,   35.33523101,
           31.88789139],
        [ 266.79351872,  442.17867309,  753.56163784,  921.51521787,
         1576.98007445, 2546.05736808,   49.04839063,  121.87781914,
          109.9873002 ],
        [  14.85679877,   24.62338515,   41.96321436,   51.31596234,
           87.81650974,  141.78103788,    2.73133348,    6.78694986,
            6.12480841]]))

In [162]:
categorical_df = categorical_df.drop(columns=["Policy"])

In [163]:
display(categorical_df)

,State,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Location Code,Marital Status,Policy Type,Renew Offer Type,Sales Channel,Vehicle Class,Vehicle Size
0,Washington,No,Basic,Bachelor,133,Employed,F,Suburban,Married,Corporate Auto,Offer1,Agent,Two-Door Car,Medsize
1,Arizona,No,Extended,Bachelor,134,Unemployed,F,Suburban,Single,Personal Auto,Offer3,Agent,Four-Door Car,Medsize
2,Nevada,No,Premium,Bachelor,133,Employed,F,Suburban,Married,Personal Auto,Offer1,Agent,Two-Door Car,Medsize
3,California,No,Basic,Bachelor,134,Unemployed,M,Suburban,Married,Corporate Auto,Offer1,Call Center,SUV,Medsize
4,Washington,No,Basic,Bachelor,133,Employed,M,Rural,Single,Personal Auto,Offer1,Agent,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,California,No,Basic,Bachelor,133,Employed,M,Urban,Married,Personal Auto,Offer2,Web,Four-Door Car,Medsize
9130,California,Yes,Extended,College,133,Employed,F,Suburban,Divorced,Corporate Auto,Offer1,Branch,Four-Door Car,Medsize
9131,California,No,Extended,Bachelor,133,Unemployed,M,Suburban,Single,Corporate Auto,Offer1,Branch,Four-Door Car,Medsize
9132,California,No,Extended,College,133,Employed,M,Suburban,Married,Personal Auto,Offer3,Branch,Four-Door Car,Large
9133,California,No,Extended,College,133,Unemployed,M,Suburban,Single,Corporate Auto,Offer4,Call Center,Two-Door Car,Medsize

In [164]:
# 9. Check number of unique values in each column, can they be combined in any way to ease encoding?
# Comment your thoughts and make those changes.

In [165]:
check_unique(categorical_df)

State

array(['Washington', 'Arizona', 'Nevada', 'California', 'Oregon'],
      dtype=object)

California    3150
Oregon        2601
Arizona       1703
Nevada         882
Washington     798
Name: State, dtype: int64

Response

array(['No', 'Yes'], dtype=object)

No     7826
Yes    1308
Name: Response, dtype: int64

Coverage

array(['Basic', 'Extended', 'Premium'], dtype=object)

Basic       5568
Extended    2742
Premium      824
Name: Coverage, dtype: int64

Education

array(['Bachelor', 'College', 'Master', 'High School or Below', 'Doctor'],
      dtype=object)

Bachelor                2748
College                 2681
High School or Below    2622
Master                   741
Doctor                   342
Name: Education, dtype: int64

Effective To Date

array([133, 134], dtype=int64)

134    4898
133    4236
Name: Effective To Date, dtype: int64

EmploymentStatus

array(['Employed', 'Unemployed', 'Medical Leave', 'Disabled', 'Retired'],
      dtype=object)

Employed         5698
Unemployed       2317
Medical Leave     432
Disabled          405
Retired           282
Name: EmploymentStatus, dtype: int64

Gender

array(['F', 'M'], dtype=object)

F    4658
M    4476
Name: Gender, dtype: int64

Location Code

array(['Suburban', 'Rural', 'Urban'], dtype=object)

Suburban    5779
Rural       1773
Urban       1582
Name: Location Code, dtype: int64

Marital Status

array(['Married', 'Single', 'Divorced'], dtype=object)

Married     5298
Single      2467
Divorced    1369
Name: Marital Status, dtype: int64

Policy Type

array(['Corporate Auto', 'Personal Auto', 'Special Auto'], dtype=object)

Personal Auto     6788
Corporate Auto    1968
Special Auto       378
Name: Policy Type, dtype: int64

Renew Offer Type

array(['Offer1', 'Offer3', 'Offer2', 'Offer4'], dtype=object)

Offer1    3752
Offer2    2926
Offer3    1432
Offer4    1024
Name: Renew Offer Type, dtype: int64

Sales Channel

array(['Agent', 'Call Center', 'Web', 'Branch'], dtype=object)

Agent          3477
Branch         2567
Call Center    1765
Web            1325
Name: Sales Channel, dtype: int64

Vehicle Class

array(['Two-Door Car', 'Four-Door Car', 'SUV', 'Luxury SUV', 'Sports Car',
       'Luxury Car'], dtype=object)

Four-Door Car    4621
Two-Door Car     1886
SUV              1796
Sports Car        484
Luxury SUV        184
Luxury Car        163
Name: Vehicle Class, dtype: int64

Vehicle Size

array(['Medsize', 'Small', 'Large'], dtype=object)

Medsize    6424
Small      1764
Large       946
Name: Vehicle Size, dtype: int64

In [166]:
# I would keep it like this!!!